.contact-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 3rem;
    font-weight: 700;
  } 
  .icon-container {
    width: 40%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    a {
      width: 70px;
      height: 70px;
      border-radius: 40px;
      box-shadow: $boxShadow;
      margin: 0 20px;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .contact-details {
    width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      flex-direction: column;
      margin: 25px auto;
      width: 380px;
      padding: 0 3%;

    
      .number {
        width : 310px;
      }
      .email {
        width: 330px;
      }
      .LinkedIn {
        width: 265px;
      }
      li {
        margin: 15px 0;
        display: flex;
        align-items: center;
        position: relative;
        div {
          box-shadow: $boxShadow;
          border-radius: 15px;
          background-color: white;
          height: 65px;
          width: 100%;
          display: flex;
          align-items: center;
          z-index: 5;

          font-family: $font;
          font-size: 1.4rem;
          font-weight: 600;
          color: $textDark;
          img {
            height: 100%;
            margin-right: 20px;
          }
          button {
            height: 100%;
            width: 60px;
            background: none;
            border: none;
            outline: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            cursor: pointer;
            transition: 0.2s;
      
            img {
              height: 40%;
              margin: 0 auto;
            }
          }
          button:active {
            transform: scale(1.2);
          }
          a {
            height: 100%;
            width: 60px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
            
              width: 40%;
              margin: 0 auto;
            }
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0px;
        overflow: hidden;
        margin-left: 15px;
        transition: 1s;
        z-index: 0;
        position: absolute;
        right: -120px;
        p {
          margin-right: 10px;
          color: $textLight;
          font-weight: 700;
        }
      }
      .showCopied {
        width: 100px;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
        transition: 0.5s;
        z-index: 0;

        p {
          margin-right: 10px;
          color: $textLight;
          font-weight: 700;
        }
      }
     }
    }
  }
  .form-container {
    width: 60%;
    margin: 0 auto;
    form {
      width: 100%;
      border-radius:25px;
      box-shadow: $boxShadowBig;
      padding: 40px;
      display: flex;
      flex-direction: column;
      span {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .label-flex {
          margin: 0;
          width: 100%;
          height: 35px;
          display: flex;
          flex-direction: row;
          label {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 2px;
            margin-left: 15px;
          } p{
            margin-left: auto;
            font-size: 1.8rem;
          }
        }
        input , textarea{
          -webkit-appearance: none;
          border: none;
          outline: none;
          background-color: #F0F5FF;
          padding: 15px;
          border-radius: 5px;
          font-family: $font;
          font-size: 1.4rem;
          font-weight: 600;
          color: $textDark;
        }
        textarea {
          resize: none;
          height: 200px;
        }
        input::placeholder { 
          color: rgba(26, 55, 100 , 0.33)
        }
        textarea::placeholder { 
          color: rgba(26, 55, 100 , 0.33)
        }
        .success {
          border: 2px $textLight solid;
        }
        .error {
          border: 2px #FF1C1C solid;
          background-color: #FFF0F0;
        }
        .error-msg {
          color: #FF1C1C;
          margin: 0;
          margin-left: 15px;
          margin-top: 15px;
          font-size: 1rem;
          font-weight: 600;
        }
      }
      #submit {
        -webkit-appearance: none;
        margin-top: 15px;
        width: 100%;
        height: 50px;
        background: none;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: $textLight;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        cursor: pointer;
        transition: 0.3s;

      }
      #submit:active {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width : 420px) {
  .contact-container {
    width: 100%;
    .contact-details {
      width: 80%;
      .showCopied {
       right : -75px;
      }
      .copied-text {
        display: none;
      }
      ul {
        width: 100%;
        align-items: center;
        justify-content: center;
        .number , .email , .LinkedIn {
          width: 100%;
          margin: 15px auto;
      }
      li {
        span {
          right: -100px;
         }
        div {
          height: 50px;
          img {
            margin-right: 0px;
          }
          button , a { 
            margin-left: auto;
            margin-right: 0px;
         }
        }
      }
    }
  }
  .form-container {
    width: 100%;
  }
}
}

@media (min-width : 421px) and (max-width : 725px) {
  .contact-container {
    width: 100%;
    .contact-details {
       width: 90%;
      ul {
        width: 100%;
        align-items: center;
        justify-content: center;
        .number , .email , .LinkedIn {
          width: 300px;
          margin: 15px auto;
      }
      li {
        span {
          right: -110px;
         }
        div {
          button , a { 
            margin-left: auto;
         }
        }
      }
    }
  }
  .form-container {
    width: 70%;
  }
}
}