.projects-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
  .projects-flex {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    li {
        list-style-type: none;
        height: 250px;
        border-radius: 25px;
        transition: 0.6s;
        border-radius: 25px;
        display: flex;
        position: relative;
        overflow: hidden;
        .project-name {
          align-self: flex-start;
          margin: 40px;
          margin-right: 0;
          transition: 0.5s;
        }
        .project-photo {
          position: absolute;
          top: 18px;
          left: 28%;
          width: 250px;
          border-radius: 3px;
          margin-top: 50px;
          box-shadow: -2px 3px 20px rgba(13,35,69, 0.20);
          transition: 0.5s;
        }
        .project-link {
          margin-left: auto;
          align-self: center;
          width: 50px;
          height: 50px;
           margin-right: 20px;
          margin-top: 15px;
          margin-bottom: auto;
          border-radius: 25px;
          display: flex;
          align-self: center;
          justify-content: center;
          box-shadow: $boxShadowIcons;
          img {
            width: 100%;
            height: 100%;
            margin: auto;
          }
        }
        .link-container {
          position: absolute;
          left: 500px;
          top: 50%;
          display: flex;
          width: 150px;
          a {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-right: 15px;
            margin-bottom: 15px;
            box-shadow: $boxShadowIcons;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .shake-animation:hover {
        animation: shake .6s;
        // animation-iteration-count: infinite;
      }
      @keyframes shake {
        0% { transform: rotate(0deg); }
        30% { transform: rotate(-30deg); }
        60% { transform: rotate(0deg); }
        60% { transform: rotate(20deg); }
      } 

    }
    .dirt-display {
      background-color: #FD9970;
      width: 50%;
    }
    .dirt-display:hover {
      width: 75%;
    }
    .dirt-display:hover + .bouncing-display {
      width: 25%;
      .project-name {
        margin: 0;
        margin-top: 25px;
        margin-left:20px;
        width: 200px;
      }
      .project-photo {
        width: 70%;
        margin-left: -30px;
        margin-top: 100px;
      }
      .project-link {
        width: 0;
      }
    }
    .bouncing-display {
      background-color: #FFC3FD;
      width: calc(50% - 25px);
      margin-left: 25px;
       .project-photo {
          width: 280px;
          transition: 0.9s;
        }
        .link-container {
          flex-direction: column;
          width: 70px;
          height:  150px;
          top: 100px;
          left: 200px;
          margin-left: -30px;
      }
    }
    .bouncing-display:hover {
      width: 75%;
    }

    .bouncing-display:hover + .dirt-display {
      width: 25%;
    }
    .logic-display {
      background-color: #FDEFE7;
      width: 90%;
      .project-name {
        margin-top: 20px;
      }
      .project-photo {
        left: 180px;
      }
      .link-container {
        left: 470px;
      }
    }
    .see-all-projects {
      background-color: $textLight;
      width: calc(35% - 25px);
      margin-left: 25px;
      width: 35%;
      display: flex;
      flex-direction: column;
         h5 {
          //  width: 80%;
           text-align: left;
           font-size: 2.2rem;
           font-weight: 700;
           margin-right: auto;
           margin-left: 20px;
           margin-top : 35px;
           color: white;
         }
         .all-projects-link {
          width: 60px;
          height: 60px;
          box-shadow: $boxShadowIcons;
          margin: auto;
          margin-top: 25px;
          align-self: flex-end;
          border-radius: 40px;
          cursor: pointer;
           display: flex;
           background-color: white;
           transition: 0.5s;
          img {
            width: 100%;
            height: 100%;
          }            
        }
        .all-projects-images {
          width: 300px;
          height: auto;
          margin: 0 auto;
          margin-top: -40px;
          margin-left: 50px;
          display: flex;
          opacity: 0;
          transition: 0.5s;
          img {
            width: 150px;
            height: auto;
            box-shadow: $boxShadow;
            transition: transform 0.3s;
            border-radius: 2px;
            cursor: pointer;
            z-index: 1;
          }
          img:hover {
           transform: scale(1.1); 
           z-index: 5;
          }
          .pro-1 {
            height: 380px;
            margin-top: 30px;
          
          }
          .pro-2 {
            height: 250px;
            margin-top: 15px;
            margin-left: -80px;
          }
          .pro-3 {
            margin-left: -80px;
          }
        }
    }
    .see-all-projects:hover{
      width: 95%;
      .all-projects-images {
        opacity: 1;
      }
      .all-projects-link {
        margin-top: 0;
        transform: translate(180px, 20px);
      }
    }
    .see-all-projects:hover + .logic-display {
      width: 5%;
    }
  }

  @media (max-width : 725px) {
    .projects-container {
      width: 100%;
      .projects-flex {
        margin-bottom: 0;
        flex-direction: column;
        li {
          margin-bottom: 30px;
        }
      }
        .dirt-display {
          background-color: #FD9970;
          width: 80%;
          margin: 0 auto;
        }
    
        .bouncing-display {
          background-color: #FFC3FD;
          width: 80%;
          margin: 0 auto;
        }

        .logic-display {
          background-color: #FDEFE7;
          width: 80%;
          margin: 0 auto;
        }
        .see-all-projects {
          background-color: $textLight;
          width: 80%;
          margin: 0 auto;
        }
        .see-all-projects:hover{
          width: 95%;
          .all-projects-images {
            opacity: 1;
          }
          .all-projects-link {
            margin-top: 0;
            transform: translate(180px, 20px);
          }
        }
        .see-all-projects:hover + .logic-display {
          width: 5%;
        }
      }
  }
  @media (min-width : 726px) {
    .title-wrapper {
      width: 50%;
    }
  }