header {
  width: 100%;
  height: 60px;
  display: flex;
  padding-right: 25px;
  nav {
    margin-left: auto;
    // margin-right: 50px;
    align-self: center;
    ul {
      display: flex;
      .active {
        border-bottom: 3px solid $textLight;
        padding-bottom: 2px;
      }
      li {
        list-style-type: none;
        margin-left: 20px;
        a {
          text-decoration: none;
          color: $textDark;
          font-weight: 600;
          font-size: 1.2rem;
        }
        .contact-link {
          color: $textLight;
        }
      }
    }
  }
  .burger-icon {
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    img {
      width:100%;
    }
  }
  .burger-menu {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin: 0;
    background-color: $textLight;
    z-index: 10;
    box-shadow: $boxShadow;
    transition: height 0.2s;
    nav {
      display: flex;
      margin-left: auto;
      align-self: center;
      justify-content: center;
      width: 100%;
      margin-top: 25px;
      ul {
        display: flex;
        flex-direction: column;
        .active {
          border: none;
        }
        li {
          list-style-type: none;
          margin-bottom: 15px;
          a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: 1.5rem;
            text-transform: capitalize; 
          }
          .contact-link {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width : 370px) {
  header {
    padding: 0;
    nav {
     display: none;
    }
    .burger-icon {
      display: block;
    }
    .burger-menu {
      display: flex; 
    }
  }
}

@media (min-width : 371px) and (max-width : 725px) {
  header {
    nav {
      margin: 0 auto;
    }
  }
}