* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
  color: #1A3764;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 750px) {
  * {
    font-size: 14px;
  }
  .App {
    width: 100vw;
    overflow: hidden;
  }
}

@media (min-width: 761px) and (max-width: 1200px) {
  * {
    font-size: 16px;
  }
  body .App {
    width: 100vw;
    overflow: hidden;
  }
}

@media (min-width: 1201px) and (max-width: 1900px) {
  * {
    font-size: 16px;
  }
  body .App {
    width: 1200px;
  }
}

@media (min-width: 1901px) {
  * {
    font-size: 18px;
  }
  body .App {
    width: 1200px;
  }
}

header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
}

header nav {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul .active {
  border-bottom: 3px solid #3382F7;
  padding-bottom: 2px;
}

header nav ul li {
  list-style-type: none;
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #1A3764;
  font-weight: 600;
  font-size: 1.2rem;
}

header nav ul li .contact-link {
  color: #3382F7;
}

header .burger-icon {
  display: none;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 11;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

header .burger-icon img {
  width: 100%;
}

header .burger-menu {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 0;
  margin: 0;
  background-color: #3382F7;
  z-index: 10;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}

header .burger-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 25px;
}

header .burger-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .burger-menu nav ul .active {
  border: none;
}

header .burger-menu nav ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

header .burger-menu nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
}

header .burger-menu nav ul li .contact-link {
  color: white;
}

@media (max-width: 370px) {
  header {
    padding: 0;
  }
  header nav {
    display: none;
  }
  header .burger-icon {
    display: block;
  }
  header .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 371px) and (max-width: 725px) {
  header nav {
    margin: 0 auto;
  }
}

.footer {
  margin: 0 auto;
  margin-bottom: 50px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0px;
}

.footer p span {
  color: #3382F7;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 4px;
}

.footer p a {
  color: #3382F7;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 5px;
}

.footer .github-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 15px auto;
  text-align: center;
}

.footer .github-wrapper p {
  margin: 0 auto;
}

.footer .github-wrapper img {
  width: 30px;
  margin-right: 15px;
}

.footer .flaticon-ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.footer .flaticon-ref img {
  width: 40px;
}

.footer .flaticon-ref p {
  font-size: 0.9rem;
}

.footer .flaticon-ref a {
  font-size: 0.9rem;
}

.footer nav {
  margin: 10px auto;
  width: 60%;
  text-align: center;
  margin-bottom: 30px;
}

.footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer nav ul .footerActive {
  color: #3382F7;
}

.footer nav ul li {
  list-style-type: none;
  margin: 0  15px;
}

.footer nav ul li a {
  color: #1A3764;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer nav ul li a:hover {
  color: #3382F7;
}

@media (max-width: 350px) {
  .footer nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 726px) {
  .footer {
    width: 80%;
  }
  .footer nav {
    width: 100%;
  }
  .footer nav ul li {
    margin: 0 5px;
  }
  .footer .github-wrapper {
    width: 100%;
  }
  .footer .github-wrapper img {
    display: none;
  }
  .footer .flaticon-ref {
    width: 100%;
  }
}

.introduction-container {
  width: 80%;
  height: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction-container .title-wrapper {
  margin-top: 120px;
  width: 45%;
}

.introduction-container .title-wrapper h1 {
  font-size: 4rem;
  font-weight: 800;
}

.introduction-container .title-wrapper p {
  font-size: 2rem;
  color: #3382F7;
  font-weight: 600;
}

.introduction-container .title-wrapper button {
  background: none;
  border: none;
  outline: none;
  background-color: #1A3764;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  margin: 25px 0;
  cursor: pointer;
}

.introduction-container .title-wrapper button img {
  width: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.introduction-container .title-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.introduction-container .title-wrapper div a {
  margin: 0 auto;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  width: 50px;
  height: 50px;
}

.introduction-container .title-wrapper div a img {
  width: 100%;
}

.introduction-container .illustration-con {
  margin-left: auto;
  width: 55%;
}

.introduction-container .illustration-con img {
  width: 110%;
  margin-top: 60px;
  margin-left: 50px;
}

@media (max-width: 725px) {
  .introduction-container .title-wrapper {
    width: 100%;
  }
  .introduction-container .illustration-con {
    display: none;
  }
}

@media (min-width: 726px) and (max-width: 1200px) {
  .introduction-container .title-wrapper {
    width: 50%;
  }
  .introduction-container .illustration-con {
    width: 50%;
    margin-left: 0px;
  }
  .introduction-container .illustration-con img {
    margin-left: 0;
  }
}

@media (min-width: 726px) {
  .title-wrapper {
    width: 50%;
  }
}

@media (min-width: 1201px) {
  .introduction-container .title-wrapper div {
    margin-top: 10px;
    width: 200px;
  }
  .introduction-container .title-wrapper div a {
    border-radius: 50px;
    width: 70px;
    height: 70px;
  }
  .introduction-container .title-wrapper div a img {
    width: 100%;
  }
}

.projects-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-container .projects-flex {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-container .projects-flex li {
  list-style-type: none;
  height: 250px;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.projects-container .projects-flex li .project-name {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 40px;
  margin-right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-container .projects-flex li .project-photo {
  position: absolute;
  top: 18px;
  left: 28%;
  width: 250px;
  border-radius: 3px;
  margin-top: 50px;
  -webkit-box-shadow: -2px 3px 20px rgba(13, 35, 69, 0.2);
          box-shadow: -2px 3px 20px rgba(13, 35, 69, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-container .projects-flex li .project-link {
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: auto;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
  position: absolute;
  top: 0px;
  right: 0px;
}

.projects-container .projects-flex li .project-link img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.projects-container .projects-flex li .link-container {
  position: absolute;
  left: 500px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

.projects-container .projects-flex li .link-container a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
}

.projects-container .projects-flex li .link-container a img {
  width: 100%;
  height: 100%;
}

.projects-container .projects-flex .shake-animation:hover {
  -webkit-animation: shake .6s;
          animation: shake .6s;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

.projects-container .dirt-display {
  background-color: #FD9970;
  width: 50%;
}

.projects-container .bouncing-display {
  background-color: #FFC3FD;
  width: calc(50% - 25px);
  margin-left: 25px;
}

.projects-container .bouncing-display .project-photo {
  width: 280px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.projects-container .bouncing-display .link-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 150px;
  top: 100px;
  left: 200px;
  margin-left: -30px;
}

.projects-container .logic-display {
  background-color: #FDEFE7;
  width: 90%;
}

.projects-container .logic-display .project-name {
  margin-top: 20px;
}

.projects-container .logic-display .project-photo {
  left: 180px;
}

.projects-container .logic-display .link-container {
  left: 470px;
}

.projects-container .see-all-projects {
  background-color: #3382F7;
  width: calc(35% - 25px);
  margin-left: 25px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-container .see-all-projects h5 {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 35px;
  color: white;
}

.projects-container .see-all-projects .all-projects-link {
  width: 60px;
  height: 60px;
  min-height: 60px;
  -webkit-box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.2);
  margin: auto;
  margin-top: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-container .see-all-projects .all-projects-link img {
  width: 100%;
  height: 100%;
}

.projects-container .see-all-projects .all-projects-images {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-top: -40px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-container .see-all-projects .all-projects-images img {
  width: 150px;
  height: auto;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1;
}

.projects-container .see-all-projects .all-projects-images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
}

.projects-container .see-all-projects .all-projects-images .pro-1 {
  height: 380px;
  margin-top: 30px;
}

.projects-container .see-all-projects .all-projects-images .pro-2 {
  height: 250px;
  margin-top: 15px;
  margin-left: -80px;
}

.projects-container .see-all-projects .all-projects-images .pro-3 {
  margin-left: -80px;
}

@media (max-width: 725px) {
  .projects-container {
    width: 100%;
  }
  .projects-container .projects-flex {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container .projects-flex li {
    margin-bottom: 30px;
  }
  .projects-container .projects-flex li .link-container {
    margin: 0;
    width: 60px;
    left: calc(400px + 5vw);
    top: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container .dirt-display {
    background-color: #FD9970;
    width: 80%;
    margin: 0 auto;
  }
  .projects-container .bouncing-display {
    background-color: #FFC3FD;
    width: 80%;
    margin: 0 auto;
  }
  .projects-container .logic-display {
    background-color: #FDEFE7;
    width: 80%;
    margin: 0 auto;
  }
  .projects-container .see-all-projects {
    background-color: #3382F7;
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 726px) {
  .title-wrapper {
    width: 50%;
  }
  .dirt-display:hover {
    width: 75%;
  }
  .dirt-display:hover + .bouncing-display {
    width: 25%;
  }
  .dirt-display:hover + .bouncing-display .project-name {
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
    width: 200px;
  }
  .dirt-display:hover + .bouncing-display .project-photo {
    width: 70%;
    margin-left: -30px;
    margin-top: 100px;
  }
  .dirt-display:hover + .bouncing-display .project-link {
    width: 0;
  }
  .bouncing-display:hover {
    width: 75%;
  }
  .bouncing-display:hover + .dirt-display {
    width: 25%;
  }
  .see-all-projects:hover {
    width: 95%;
  }
  .see-all-projects:hover .all-projects-images {
    opacity: 1;
  }
  .see-all-projects:hover .all-projects-link {
    margin-top: 0;
    -webkit-transform: translate(180px, 20px);
            transform: translate(180px, 20px);
  }
  .see-all-projects:hover + .logic-display {
    width: 5%;
  }
}

@media (max-width: 1100px) {
  .projects-container .see-all-projects:hover {
    width: 35%;
  }
  .projects-container .see-all-projects:hover .all-projects-images {
    display: none;
  }
  .projects-container .see-all-projects:hover .all-projects-link {
    margin-top: 0;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  .projects-container .bouncing-display:hover {
    width: 90%;
  }
  .projects-container .projects-flex li .link-container {
    position: absolute;
    left: 450px;
    top: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
  }
}

.about-container {
  width: 80%;
  margin: 200px auto;
}

.about-container .table-header-buttons {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about-container .table-header-buttons li {
  list-style-type: none;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .table-header-buttons li button {
  background: none;
  border: none;
  outline: none;
  color: #1A3764;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.about-container .table-header-buttons li .btnSelected {
  background-color: #3382F7;
  color: white;
}

.about-container .table {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 2px solid #B5C3D8;
}

.about-container .table #enlarge-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #B5C3D8;
  width: 100%;
  height: 160px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
  margin: 0;
}

.about-container .table #enlarge-height-edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #B5C3D8;
  width: 100%;
  height: 210px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
  margin: 0;
}

.about-container .table #enlarge-height-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #B5C3D8;
  width: 100%;
  height: 490px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
  margin: 0;
}

.about-container .table #enlarge-height-larger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #B5C3D8;
  width: 100%;
  height: 340px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
  margin: 0;
}

.about-container .table .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid #B5C3D8;
  width: 100%;
  padding: 0 15px;
  margin: 0;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
  overflow: hidden;
}

.about-container .table .row-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  min-height: 70px;
}

.about-container .table .row-wrapper .topic {
  font-size: 1.2rem;
  font-weight: 700;
}

.about-container .table .row-wrapper .skill, .about-container .table .row-wrapper .course {
  margin-left: auto;
  margin-right: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #3382F7;
}

.about-container .table .row-wrapper .left-wrapper .school {
  font-size: 1.2rem;
  font-weight: 700;
}

.about-container .table .row-wrapper .left-wrapper .school span {
  font-size: 1.2rem;
  font-weight: 700;
}

.about-container .table .row-wrapper .left-wrapper .date {
  font-size: 1rem;
  font-weight: 500;
}

.about-container .table .row-wrapper button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-container .table .row-wrapper button img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about-container .table .course-info {
  margin-top: 0px;
  width: 100%;
}

.about-container .table .course-info p {
  margin-bottom: 15px;
}

.about-container .table .list-of-skills, .about-container .table .list-of-grades {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container .table .list-of-skills li, .about-container .table .list-of-grades li {
  list-style-type: none;
  color: #3382F7;
  font-size: 1.2rem;
  margin-left: 15px;
}

.about-container .table .list-of-grades {
  margin-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  z-index: -1;
}

.about-container .table .list-of-grades li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-top: 10px;
}

.about-container .table .list-of-grades li .grade {
  margin-left: auto;
  font-weight: 700;
}

@media (max-width: 443px) {
  .hide {
    display: none;
  }
}

@media (max-width: 725px) {
  .about-container {
    width: 90%;
  }
  .about-container .table-header-buttons {
    width: 100%;
  }
  .about-container .table-header-buttons li button {
    font-size: 1.3rem;
  }
  .about-container .table {
    width: 90%;
    margin-top: 20px;
  }
  .about-container .table .table-row .row-wrapper .skill, .about-container .table .table-row .row-wrapper .course {
    display: none;
  }
  .about-container .table .table-row .row-wrapper button {
    margin-left: auto;
  }
  .about-container .table .table-row .list-of-skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .about-container .table .table-row .list-of-skills li {
    margin-bottom: 5px;
    border: 2px red;
  }
}

@media (max-width: 970px) {
  .about-container .table {
    width: 90%;
    margin-top: 20px;
  }
  .about-container .table .table-row .row-wrapper .course, .about-container .table .table-row .row-wrapper .skill {
    display: none;
  }
  .about-container .table .table-row .row-wrapper button {
    margin-left: auto;
  }
}

.interests-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
}

.interests-container .hobbies-title-mobile {
  display: none;
}

.interests-container .interests-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  gap: 55px;
}

.interests-container .interests-grid li {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.interests-container .interests-grid li img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.interests-container .interests-grid li .bounce:hover {
  -webkit-animation: bounce .9s;
          animation: bounce .9s;
}

.interests-container .interests-grid li .shake:hover {
  -webkit-animation: shake .9s;
          animation: shake .9s;
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

.interests-container .interests-grid .row-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.interests-container .interests-grid .row-2 {
  grid-column: auto / span 3;
}

.interests-container .interests-grid .row-3 {
  grid-column: auto / span 1;
}

.interests-container .interests-grid .hobbies-title {
  grid-column: auto / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.interests-container .interests-grid .hobbies-title h3 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: 800;
  line-height: 50px;
}

.interests-container .interests-grid .hobbies-title .change-colour {
  color: #3382F7;
}

@media (max-width: 725px) {
  .interests-container .hobbies-title-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .interests-container .interests-grid {
    width: 80%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .interests-container .interests-grid li img {
    width: 70px;
  }
  .interests-container .interests-grid .row-1, .interests-container .interests-grid .row-2, .interests-container .interests-grid .row-3 {
    grid-column: auto;
  }
  .interests-container .interests-grid .hobbies-title {
    display: none;
  }
}

.contact-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.contact-container .icon-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}

.contact-container .icon-container a {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  margin: 0 20px;
}

.contact-container .icon-container a img {
  width: 70px;
  height: 70px;
}

.contact-container .contact-details {
  width: 100%;
  margin: 0 auto;
}

.contact-container .contact-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px auto;
  width: 380px;
  padding: 0 3%;
}

.contact-container .contact-details ul .number {
  width: 310px;
}

.contact-container .contact-details ul .email {
  width: 330px;
}

.contact-container .contact-details ul .LinkedIn {
  width: 265px;
}

.contact-container .contact-details ul li {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact-container .contact-details ul li div {
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  border-radius: 15px;
  background-color: white;
  height: 65px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1A3764;
}

.contact-container .contact-details ul li div img {
  height: 100%;
  margin-right: 20px;
}

.contact-container .contact-details ul li div button {
  height: 100%;
  width: 60px;
  background: none;
  border: none;
  outline: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-container .contact-details ul li div button img {
  height: 40%;
  margin: 0 auto;
}

.contact-container .contact-details ul li div button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-container .contact-details ul li div a {
  height: 100%;
  width: 60px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-details ul li div a img {
  width: 40%;
  margin: 0 auto;
}

.contact-container .contact-details ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  overflow: hidden;
  margin-left: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 0;
  position: absolute;
  right: -120px;
}

.contact-container .contact-details ul li span p {
  margin-right: 10px;
  color: #3382F7;
  font-weight: 700;
}

.contact-container .contact-details ul li .showCopied {
  width: 100px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
}

.contact-container .contact-details ul li .showCopied p {
  margin-right: 10px;
  color: #3382F7;
  font-weight: 700;
}

.contact-container .form-container {
  width: 60%;
  margin: 0 auto;
}

.contact-container .form-container form {
  width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.15);
          box-shadow: 1px 2px 30px rgba(13, 35, 69, 0.15);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .form-container form span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.contact-container .form-container form span .label-flex {
  margin: 0;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-container .form-container form span .label-flex label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
  margin-left: 15px;
}

.contact-container .form-container form span .label-flex p {
  margin-left: auto;
  font-size: 1.8rem;
}

.contact-container .form-container form span input, .contact-container .form-container form span textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: #F0F5FF;
  padding: 15px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #1A3764;
}

.contact-container .form-container form span textarea {
  resize: none;
  height: 200px;
}

.contact-container .form-container form span input::-webkit-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span input:-ms-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span input::-ms-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span input::placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span textarea::-webkit-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span textarea:-ms-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span textarea::-ms-input-placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span textarea::placeholder {
  color: rgba(26, 55, 100, 0.33);
}

.contact-container .form-container form span .success {
  border: 2px #3382F7 solid;
}

.contact-container .form-container form span .error {
  border: 2px #FF1C1C solid;
  background-color: #FFF0F0;
}

.contact-container .form-container form span .error-msg {
  color: #FF1C1C;
  margin: 0;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 600;
}

.contact-container .form-container form #submit {
  -webkit-appearance: none;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #3382F7;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-container .form-container form .succes-msg {
  color: #3382F7;
  margin: 0;
  margin: 20px auto;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.contact-container .form-container form #submit:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 420px) {
  .contact-container {
    width: 100%;
  }
  .contact-container .contact-details {
    width: 80%;
  }
  .contact-container .contact-details .showCopied {
    right: -75px;
  }
  .contact-container .contact-details .copied-text {
    display: none;
  }
  .contact-container .contact-details ul {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container .contact-details ul .number, .contact-container .contact-details ul .email, .contact-container .contact-details ul .LinkedIn {
    width: 100%;
    margin: 15px auto;
  }
  .contact-container .contact-details ul li span {
    right: -100px;
  }
  .contact-container .contact-details ul li div {
    height: 50px;
  }
  .contact-container .contact-details ul li div img {
    margin-right: 0px;
  }
  .contact-container .contact-details ul li div button, .contact-container .contact-details ul li div a {
    margin-left: auto;
    margin-right: 0px;
  }
  .contact-container .form-container {
    width: 100%;
  }
}

@media (min-width: 421px) and (max-width: 725px) {
  .contact-container {
    width: 100%;
  }
  .contact-container .contact-details {
    width: 90%;
  }
  .contact-container .contact-details ul {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container .contact-details ul .number, .contact-container .contact-details ul .email, .contact-container .contact-details ul .LinkedIn {
    width: 300px;
    margin: 15px auto;
  }
  .contact-container .contact-details ul li span {
    right: -110px;
  }
  .contact-container .contact-details ul li div button, .contact-container .contact-details ul li div a {
    margin-left: auto;
  }
  .contact-container .form-container {
    width: 70%;
  }
}

.portfolio-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-container h3 {
  font-size: 2rem;
  font-weight: 800;
}

.portfolio-container .portfolio-grid {
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
}

.portfolio-container .portfolio-grid li {
  list-style-type: none;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-container .portfolio-grid li img {
  width: 100%;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 80px auto;
  margin-bottom: 100px;
  position: relative;
}

.project-container .backbtn {
  position: absolute;
  top: -80px;
  left: 20px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.project-container .backbtn img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
}

.project-container div {
  width: 45%;
  margin: 0 auto;
}

.project-container div .project-photo {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project-container div h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.project-container div .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  margin: 30px 0;
}

.project-container div .link-container a {
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.project-container div .link-container img {
  width: 100%;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  border-radius: 25px;
}

.project-container div p {
  margin-top: 15px;
}

.project-container div p b {
  font-weight: 700;
}

.project-container div .mobile-backbtn {
  display: none;
  margin-top: 40px;
  text-decoration: none;
  color: #1A3764;
  font-weight: 700;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
          box-shadow: 1px 2px 10px rgba(13, 35, 69, 0.2);
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.project-container div .mobile-backbtn img {
  width: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: auto 10px;
  margin-right: 20px;
}

@media (max-width: 725px) {
  .portfolio-container .portfolio-grid {
    gap: 20px;
  }
  .portfolio-container .portfolio-grid li {
    height: 150px;
  }
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .project-container .backbtn {
    width: 45px;
    height: 45px;
    top: -70px;
    display: none;
  }
  .project-container .photo-container {
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
  }
  .project-container div {
    width: 90%;
    margin-bottom: 25px;
  }
  .project-container div .link-container {
    width: 130px;
    margin: 30px auto;
  }
  .project-container div .link-container a {
    width: 45px;
    height: 45px;
  }
  .project-container div .mobile-backbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.notfound-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notfound-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 60%;
  margin-bottom: 20%;
}

.notfound-container div img {
  width: 80px;
  margin-top: 100px;
}

.notfound-container div h3 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 15px;
}

.notfound-container div h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 30px;
}

.notfound-container div a {
  font-size: 2rem;
  font-weight: 600;
  color: #3382F7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .notfound-container div {
    width: 90%;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */