$font : 'Nunito', sans-serif;
$textDark : #1A3764;
$textLight : #3382F7;
$boxShadow : 1px 2px 10px rgba(13,35,69, 0.20);
$boxShadowBig : 1px 2px 30px rgba(13,35,69, 0.15);
$tableBorder :  2px solid #B5C3D8;

